@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://use.typekit.net/fsy5fjk.css';

@font-face {
  font-family: gilroy-extrabold;
  src: url(assets/fonts/gilroy/Gilroy.eot);
  src: url(assets/fonts/gilroy/Gilroy.eot) format('embedded-opentype'),
  url(assets/fonts/gilroy/Gilroy.woff2) format('woff2'),
  url(assets/fonts/gilroy/Gilroy.woff) format('woff'),
  url(assets/fonts/gilroy/Gilroy.ttf) format('truetype');
  font-display: swap
}

body {
  margin: 0;
  font-family: proxima-nova;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}